footer{
    margin-top: 100px;
    padding: 20px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img{
    height: 30px;
    width: 30px;
    align-items: center;
}