.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.portfolio{
    background: lightskyblue;
}

.project img{
    height: 350px;
    width: 350px;
    padding: 50px;
    
}

.overlay{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.project{
    position: relative;
    width: 43%;
    /* position: relative;
    text-align: center;
    color: white; */
}

.project:hover .overlay {
    opacity: 1;
  }
  
.project-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }